<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="links">
                <p><a href="#/cards">Search for a specific card?</a></p>

                <p><a href="#/login">Have an account but not logged in?</a></p>

                <p><a href="#/register">Do not have an account yet?</a></p>
            </div>
            <p>&copy;Copyrights 2016. No rights reserved</p>
        </div>
        <div class="col-md-6 socials">
            <p>Social networks:</p>

            <p>Facebook</p>

            <p>Twitter</p>

            <p>Instagram</p>
        </div>
    </div>
</div>