<!-- <div ng-if="isUserLogged()">
    <p>Hello, {{ username }}</p>
    <button ng-click="logout()">Logout</button>
</div> -->

<div class="cl-effect-1" id="cl-effect-1">
    <ul class="nav navbar-nav">
        <li>
            <a href="#/cards">CARDS</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isUserLogged()">
            <a href="#/login"><span class="glyphicon glyphicon-log-in"></span>LOGIN</a>
        </li>
        <li ng-hide="isUserLogged()">
            <a href="#/register"><span class="glyphicon glyphicon-paperclip"></span>REGISTER</a>
        </li>
        <div ng-if="isUserLogged()">
            <p>Hello, {{ username }} <button class="btn btn-default" ng-click="logout()">Logout</button></p>
        </div>
    </ul>
</div>
